<!DOCTYPE html>
<html>
	<%- include("head.ejs") %>
	<body>
		<%- include("logo.ejs") %> <%- include("nav.ejs") %>
		<main>
			<div id="home-main">
				<p>Welcome to Fridge Inventory App, a simple Express app.</p>

				<p>
					Your fridge has
					<span class="num-span"><%= items %></span>
					<% if(items === 1) { %> item <% } else { %> items <% } %> and 
					<span class="num-span"><%= categories %></span>
					<% if(categories === 1) { %> category! <% } else { %> categories <% } %>
					of items.
				</p>

				<div id="home-fridge-pic">
					<img src="/images/fridge.png" alt="" />
				</div>
			</div>
		</main>

		<%- include("footer.ejs") %>
	</body>
</html>
