<!DOCTYPE html>
<html>
	<%- include("head.ejs") %>
	<body>
		<%- include("logo.ejs") %>
    <%- include("nav.ejs") %>
		<main>
			

			<div id="home-main">
				<p>Welcome to Fridge Inventory App, a simple Express app.</p>

				<p>
					Your fridge has
					<span class="num-span"><%= items %></span>
					items from
					<span class="num-span"><%= categories %></span>
					categories!
				</p>

        <div id="home-fridge-pic">
          <img src="/images/fridge.png" alt="" />
        </div>
			</div>

			
		</main>

		<%- include("footer.ejs") %>
	</body>
</html>
